@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Cambia aquí la fuente */
  background-color: #000000; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto en blanco */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #171717; /* Color de fondo oscuro */
    --foreground: #ffffff; /* Color del texto en blanco */
    --card: #ffffff; /* Color de fondo de las tarjetas (opcional) */
    --card-foreground: #171717; /* Color del texto de las tarjetas (opcional) */
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
